.portfolios {
    background-color: #fff;
    height: auto;
    /* Adjust height based on content */
    border-radius: 20px;
    padding: 20px;
}

.portfoiliolist {
    background-color: #fff;
    padding: 30px;
    height: auto;
    /* Adjust height dynamically */
    border-radius: 20px;
}

.qr-code-box {
    background-color: #f8f9fa;
    border-radius: 8px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.pdf_btn {
    width: 100%;
    max-width: 160px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px !important;
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

button {
    color: #000;
}

button.pdf_btn svg {
    width: 25%;
}

.portfolio-box {
    border-radius: 20px;
}

.portfolio-box p {
    margin-bottom: 0;
}

.portfolio-box small {
    color: #6c757d;
}

.card-title {
    font-size: 1.25rem;
    margin: 0;
}

.btn-outline-light {
    border: 2px solid white;
    font-size: 1.5rem;
    padding: 0 10px;
    color: white;
    background-color: transparent;
    border-radius: 50%;
}

.card {
    border: none !important;
    overflow: hidden;
}

.card-img {
    border-radius: 15px;
    height: 150px;
    object-fit: cover;
}

h5.card-title {
    color: #000000 !important;
    font-size: 1rem;
}

.qr-scanner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.qr-scanner-overlay video {
    border: 1px solid #fff;
}

.create_btn {
    width: 100%;
    border: none;
    color: #6c757d;
    background-color: #fff;
    font-size: 22px;
    margin: 10px 0;
    /* Adds spacing between the buttons */
    box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px 50px;
    text-align: left;
}

.create_btn span {
    margin-left: 15px;
}

button.create_btn svg {
    width: 20%;
}

.modelcard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.full-screen-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    position: relative;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.popup-content h5 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #333;
}

.popup-content p {
    color: #555;
    font-size: 1.1em;
}

/* Close button styling */
.close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: red;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.close-button:hover {
    background: red;
    /* Red background on hover */
    color: white;
    /* White icon on hover */
    border-color: darkred;
    /* Darker red border on hover */
}

.portfolio-box {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    background: #fff;
    transition: 0.3s;
}

span {
    font-size: 1rem;
    font-weight: normal;
}

/* .main-category{
  flex-direction: column;
} */

.portfoiliolist {
    padding: 30px 20px !important;
}

.main-category {
    gap: 20px !important;
}

.card {
    cursor: pointer;
}

.custom-post-card,
.posts .card img {
    width: 100%;
    max-width: 150px;
}

@media (max-width:450px) {
    .portfoiliolist {
        padding: 30px 10px !important;
    }

    .main-category {
        gap: 0 !important;
    }

    .main-category .category {
        padding: 0 5px;
        width: 50%;
    }
}

/* @media (max-width:425px) {

    .custom-post-card,
    .posts .card img {
        width: 100%;
        max-width: 100%;
    }
} */